echo "Start compute node"
{{ installdir }}/release/compute_ctl --pgdata {{ installdir }}/compute/pgdata \
     -C "postgresql://cloud_admin@localhost:55433/postgres"  \
     -b {{ installdir }}/v15/bin/postgres                    \
     -S spec.json
