echo "Start compute node"
{{ installdir }}/target/release/compute_ctl --pgdata {{ installdir }}/compute/pgdata \
     -C "postgresql://cloud_admin@localhost:55433/postgres"  \
     -b {{ installdir }}/pg_install/v14/bin/postgres         \
     -S spec.json
